<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Báo cáo quân số và tình hình đơn vị </title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="~/images/qdnd.png">
                    <h2><span class="danger">Design by An</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Trang </h3>
                </a>
                @if (User.IsInRole("admin"))
                {
                    
                   
                    <a href="/QS/Index">
                        <span class="material-icons-sharp">
                            dashboard
                        </span>
                        <h3>Trang </h3>
                    </a>
                    <a href="/UserAuthentication/Registration">
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Registration</h3>
                    </a>
                    <a href="/UserAuthentication/Registration">
                        <span class="material-icons-sharp">
                            person_outline
                        </span>
                        <h3>Thông tin</h3>
                    </a>
                    
                    
                    <a href="/UserAuthentication/Registration">
                        <span class="material-icons-sharp">
                            insights
                        </span>
                        <h3>Analytics</h3>
                    </a>
                    

                }
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <a href="/UserAuthentication/Registration">
                        <span class="material-icons-sharp">
                            person_outline
                        </span>
                        <h3>Thông tin</h3>
                    </a>
                    <a href="/UserAuthentication/Logout">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Logout</h3>
                    </a>

                }
            </div>
        </aside>
        <!-- End of Sidebar Section -->
        <!-- Main Content -->
        <main>
            <h1>Trang chủ </h1>
            <!-- Analyses -->
            <div class="analyse">
            </div>
            <div class="recent-orders">
                <h2>Bảng cáo cáo quân số</h2>

                @RenderBody()

            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->
        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <!-- <span class="material-icons-sharp">
                        menu
                    </span> -->
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Xin chào, <b>An</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        @* <img src="images/profile-1.jpg"> *@
                    </div>
                </div>

                

            </div>
            <!-- End of Nav -->
        </div>
        


    </div>

    @* <script src="orders.js"></script> *@
    <script src="~/js/index.js"></script>
    <div class="container">
    </div>

</body>

</html>