USE [master]
GO
/****** Object:  Database [login]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE DATABASE [login]

GO
USE [login]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[id_dv] [char](10) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoQuanSo]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoQuanSo](
	[id_bcqs] [int] IDENTITY(1,1) NOT NULL,
	[id_dv] [char](10) NULL,
	[ngay] [date] NULL,
	[tong_qs] [int] NULL,
	[qs_vang] [int] NULL,
	[dao_ngu] [int] NULL,
	[di_vien] [int] NULL,
	[benh_xa] [int] NULL,
	[di_hoc] [int] NULL,
	[di_thuc_te] [int] NULL,
	[di_thuc_tap] [int] NULL,
	[di_tt] [int] NULL,
	[di_ctac] [int] NULL,
	[thai_san] [int] NULL,
	[ly_do_khac] [int] NULL,
	[chu_thich] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bcqs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[id_dv] [char](10) NOT NULL,
	[ten_dv] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhHinhDonVi]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhHinhDonVi](
	[id_thdv] [int] IDENTITY(1,1) NOT NULL,
	[ten_tb] [nvarchar](50) NULL,
	[nvvs] [nvarchar](max) NULL,
	[canh_gac] [nvarchar](max) NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[id_dv] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thdv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [char](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[username] [char](10) NULL,
	[password] [char](10) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [char](10) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231212111442_init', N'8.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'805f2eb4-84b9-4837-adc3-b8d7570d5813', N'user', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8a2299bb-1b33-48e4-9d0a-2c231e1e047d', N'admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0694b0f1-a869-4247-8167-ff868e877091', N'805f2eb4-84b9-4837-adc3-b8d7570d5813')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'11c6fbd5-33d3-401b-aacf-100bf0b30d83', N'805f2eb4-84b9-4837-adc3-b8d7570d5813')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1f4d42f8-9656-437f-9cf1-f52a53745916', N'805f2eb4-84b9-4837-adc3-b8d7570d5813')
GO
SET IDENTITY_INSERT [dbo].[BaoCaoQuanSo] ON 

INSERT [dbo].[BaoCaoQuanSo] ([id_bcqs], [id_dv], [ngay], [tong_qs], [qs_vang], [dao_ngu], [di_vien], [benh_xa], [di_hoc], [di_thuc_te], [di_thuc_tap], [di_tt], [di_ctac], [thai_san], [ly_do_khac], [chu_thich]) VALUES (1, N'd1        ', CAST(N'2024-03-27' AS Date), 82, 2, NULL, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[BaoCaoQuanSo] ([id_bcqs], [id_dv], [ngay], [tong_qs], [qs_vang], [dao_ngu], [di_vien], [benh_xa], [di_hoc], [di_thuc_te], [di_thuc_tap], [di_tt], [di_ctac], [thai_san], [ly_do_khac], [chu_thich]) VALUES (2, N'd2        ', CAST(N'2024-03-27' AS Date), 80, 1, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[BaoCaoQuanSo] ([id_bcqs], [id_dv], [ngay], [tong_qs], [qs_vang], [dao_ngu], [di_vien], [benh_xa], [di_hoc], [di_thuc_te], [di_thuc_tap], [di_tt], [di_ctac], [thai_san], [ly_do_khac], [chu_thich]) VALUES (3, N'k1        ', CAST(N'2024-03-27' AS Date), 7, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BaoCaoQuanSo] OFF
GO
INSERT [dbo].[DonVi] ([id_dv], [ten_dv]) VALUES (N'd1        ', N'Tiểu đoàn 1')
INSERT [dbo].[DonVi] ([id_dv], [ten_dv]) VALUES (N'd2        ', N'Tiểu đoàn 2')
INSERT [dbo].[DonVi] ([id_dv], [ten_dv]) VALUES (N'd3        ', N'Tiểu đoàn 3')
GO
SET IDENTITY_INSERT [dbo].[TinhHinhDonVi] ON 

INSERT [dbo].[TinhHinhDonVi] ([id_thdv], [ten_tb], [nvvs], [canh_gac], [ghi_chu], [id_dv]) VALUES (1, N'Nguyễn Văn A', N'Bảo đảm', N'Bảo đảm', NULL, N'd1        ')
INSERT [dbo].[TinhHinhDonVi] ([id_thdv], [ten_tb], [nvvs], [canh_gac], [ghi_chu], [id_dv]) VALUES (2, N'Nguyễn Văn B', N'Bảo đảm', N'Bảo đảm', NULL, N'd2        ')
SET IDENTITY_INSERT [dbo].[TinhHinhDonVi] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/10/2024 8:49:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCaoQuanSo] ADD  DEFAULT (getdate()) FOR [ngay]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_DonVi] FOREIGN KEY([id_dv])
REFERENCES [dbo].[DonVi] ([id_dv])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_DonVi]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BaoCaoQuanSo]  WITH CHECK ADD FOREIGN KEY([id_dv])
REFERENCES [dbo].[DonVi] ([id_dv])
GO
ALTER TABLE [dbo].[BaoCaoQuanSo]  WITH CHECK ADD FOREIGN KEY([id_dv])
REFERENCES [dbo].[DonVi] ([id_dv])
GO
ALTER TABLE [dbo].[TinhHinhDonVi]  WITH CHECK ADD FOREIGN KEY([id_dv])
REFERENCES [dbo].[DonVi] ([id_dv])
GO
ALTER TABLE [dbo].[TinhHinhDonVi]  WITH CHECK ADD FOREIGN KEY([id_dv])
REFERENCES [dbo].[DonVi] ([id_dv])
GO
/****** Object:  StoredProcedure [dbo].[AddQuanSo]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[AddQuanSo]
@id_dv char(10), @ngay date, @tong_qs int, @qs_vang int, @dao_ngu int, @di_vien int, @benh_xa int, @di_hoc int, @di_thuc_te int, @di_thuc_tap int, @di_tt int,
@di_ctac int, @thai_san int, @ly_do_khac int, @chu_thich nvarchar(100) 
as
begin
INSERT INTO [dbo].[BaoCaoQuanSo]
           ([id_dv]
           ,[ngay]
           ,[tong_qs]
           ,[qs_vang]
           ,[dao_ngu]
           ,[di_vien]
           ,[benh_xa]
           ,[di_hoc]
           ,[di_thuc_te]
           ,[di_thuc_tap]
           ,[di_tt]
           ,[di_ctac]
           ,[thai_san]
           ,[ly_do_khac]
           ,[chu_thich])
     VALUES
          (@id_dv, @ngay, @tong_qs, @qs_vang, @dao_ngu, @di_vien, @benh_xa, @di_hoc, @di_thuc_te, @di_thuc_tap, @di_tt, @di_ctac, @thai_san, @ly_do_khac, @chu_thich)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteBaoCaoQuanSo]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[deleteBaoCaoQuanSo]
@id_dv char(10)
as
begin
DELETE FROM [dbo].[BaoCaoQuanSo]
      WHERE id_dv = @id_dv
end
GO
/****** Object:  StoredProcedure [dbo].[deleteDonVi]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[deleteDonVi]
@id_dv char(10)
as
begin
DELETE FROM [dbo].[DonVi]
      WHERE id_dv = @id_dv
end
GO
/****** Object:  StoredProcedure [dbo].[deleteTHDV]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[deleteTHDV]
@id_dv char(10)
as
begin
DELETE FROM [dbo].[TinhHinhDonVi]
      WHERE id_dv = @id_dv
end
GO
/****** Object:  StoredProcedure [dbo].[getBaoCaoQuanSo]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getBaoCaoQuanSo]
as
begin
select * from BaoCaoQuanSo
order by id_dv
end 
GO
/****** Object:  StoredProcedure [dbo].[getBaoCaoQuanSoById]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getBaoCaoQuanSoById]
@id_dv char(10)
as
begin
select * from BaoCaoQuanSo
where id_dv = @id_dv

end 
GO
/****** Object:  StoredProcedure [dbo].[getDonVi]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getDonVi]
as
begin
select * from DonVi
end
GO
/****** Object:  StoredProcedure [dbo].[getTHDV]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getTHDV]
as
begin
select * from TinhHinhDonVi
end
GO
/****** Object:  StoredProcedure [dbo].[insertTinhHinhDonVi]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertTinhHinhDonVi]
@ten_tb nvarchar(50),
@nvvs nvarchar(max),
@canh_gac nvarchar(max),
@ghi_chu nvarchar(max),
@id_dv char(10)
as
begin
INSERT INTO [dbo].[TinhHinhDonVi]
           ([ten_tb]
           ,[nvvs]
           ,[canh_gac]
           ,[ghi_chu]
           ,[id_dv])
     VALUES
           (@ten_tb,@nvvs,@canh_gac,@ghi_chu,@id_dv)
end
GO
/****** Object:  StoredProcedure [dbo].[updateBaoCaoQuanSo]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[updateBaoCaoQuanSo]
@id_dv char(10), @ngay date, @tong_qs int, @qs_vang int, @dao_ngu int, @di_vien int, @benh_xa int, @di_hoc int, @di_thuc_te int, @di_thuc_tap int, @di_tt int,
@di_ctac int, @thai_san int, @ly_do_khac int, @chu_thich nvarchar(100), @id_dv_old char(10) 
as
begin
UPDATE [dbo].[BaoCaoQuanSo]
	set id_dv = @id_dv,
		ngay = @ngay,
		tong_qs = @tong_qs,
		qs_vang = @qs_vang,
		dao_ngu = @dao_ngu,
		di_vien = @di_vien,
		benh_xa = @benh_xa,
		di_hoc = @di_hoc,
		di_thuc_te = @di_thuc_te,
		di_thuc_tap = @di_thuc_tap,
		di_tt = @di_tt,
		di_ctac = @di_ctac,
		thai_san = @thai_san,
		ly_do_khac = @ly_do_khac,
		chu_thich = @chu_thich
	
 WHERE id_dv = @id_dv_old
end
GO
/****** Object:  StoredProcedure [dbo].[updateTHDV]    Script Date: 4/10/2024 8:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updateTHDV]
@id_dv_old char(10), @ten_tb nvarchar(50), @nvvs nvarchar(max), @canh_gac nvarchar(max), @ghi_chu nvarchar(max), @id_dv char(10)
as
begin
UPDATE [dbo].[TinhHinhDonVi]
   SET ten_tb = @ten_tb,
		nvvs = @nvvs,
		canh_gac = @canh_gac,
		ghi_chu = @ghi_chu,
		id_dv = @id_dv
 WHERE id_dv = @id_dv_old
end
GO
USE [master]
GO
